<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/b14cc21095.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container-fluid">
      <nav class="nav py-2 justify-content-end bg-light">
         <%= link_to 'MembersOnly', root_path, class: 'nav-link me-auto ms-5 h4'  %>
      <% if current_user %>
         <%= link_to 'Logout', logout_path, method: :delete, class: 'btn btn-danger me-4 h-50'  %>
      <% else %>
         <%= link_to 'Login', login_path, class: 'btn btn-primary h-50'  %>
         <%= link_to 'Signup', signup_path, class: 'btn btn-success mx-4 h-50'  %>
      <% end %>
      </nav>
      <div class="flash-messages">
      <% flash.each do |type, message| %>
        <p class='alert <%= flash_class(type) %>'><%= message %></p>
      <% end %>
    </div>
    
    <%= yield %>
    </div>
    
  </body>
</html>
